{% extends 'main/base.html' %}
{% block title%}Search "{{searched}}"{% endblock %}
{% block mastheadtitle%}Searched for "{{searched}}"{% endblock %}
{% block mastheadtext%}Showing {{search_results|length }} results found for "{{searched}}"{% endblock %}
{% block mastheadimage%}{{header.image.url}}{% endblock %}
{% block content %}

<section id="products">
<div class="album py-5 bg-light">
  <div class="container">
 <h1 class="fw-light">
  {% if search_results.length > 0%}   
    Search results for {{searched}}
  {% else %}
    No results found
  {% endif %}
</h1>
<br>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">


      {% for item in search_results %}
      <div class="col">
        <a href="/products/{{item.slug}}" style="color: inherit; text-decoration: inherit;">
        <div class="card shadow-sm">
          <img class=" card-img-top" width="100%" height="225" style="object-fit: cover; object-position: center;" src=
          {% for image in images %}
              {% if image.product_id == item %}
              {{image.image.url}}
              {% endif %}
          {% endfor %}
          />
          <div class="card-body">
            <h4 class="fw-light">{{item.title}}</h1>
            <p class="card-text">{{item.desc|slice:":120"}}...</p>
            <p class="lead text-end"><span>$</span>{{item.price}}</p>
            </a>
            <div class="d-flex justify-content-between align-items-center">
                <div class="d-grid gap-2 col-12 mx-auto">
                  <button class="btn btn-primary" type="button">Details</button>
                </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}


    </div>
  </div>
</div></section>

{% endblock %}